/* CSS Reset */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  display: block;
  margin: 10px 10px;
}

fieldset {
  border-radius: 5px;
}

input {
  display: block;
  width: 90%;
  height: 20px;
  margin: 10px 10px;
  padding: 5px 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
  color: rgb(15, 118, 110);
}

select {
  display: block;
  width: 50%;
  height: 20px;
  margin: 10px 10px;
  padding: 0px 10px;
}

textarea {
  display: block;
  margin: 10px 10px;
  padding: 5px 5px;
}

/* CSS Start */
body {
  background-color: rgb(240, 253, 250);
  font-family: Inter, sans-serif;
  color: rgb(15, 118, 110);
}

.page-heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px;
}

.page-body {
  display: flex;
  gap: 20px;
  margin: 20px 50px;
  padding: 20px 50px;
  border: 1px solid rgb(19, 78, 74);
}

.components {
  border: 1px solid black;
  padding: 20px 20px;
  width: 50%;
}

.heading-menu {
  margin-top: 30px;
}

.paragraph-menu {
  margin-top: 30px;
}

/* generic class for width */
.input-color-width-padding {
  width: 20%;
  padding: 0;
}

.generated-preview-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generated-and-preview {
  position: sticky;
  top: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* Code Generated Section */

.code-generated {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.code-generated__heading {
  text-align: center;
  padding: 20px 0px;
}

.code-generated__result {
  width: 90%;
}

#result {
  width: 90%;
  height: 150px;
  padding: 10px 10px;
  margin: 0 auto;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* generic button styles added to every button */

.styled-button {
  background-color: rgb(13, 148, 136);
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 9999px;
}

.styled-button:hover {
  background-color: rgb(20, 184, 166);
}

.styled-button:active {
  background-color: rgb(13, 148, 136);
}

/* preview section CSS */

.preview {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#preview-frame {
  width: 100%;
  height: 300px;
  border: 1px solid teal;
  border-radius: 5px;
}
